body {
    background-color: #4d9b4d;
}
nav{
    z-index: 1;
    background-color: #2f535e;
}
.navbar-brand{
    position: relative;
}
.navbar-brand::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 75px;
    width: 60px;
    height: 40px;
    border-radius: 25px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
}

.navbar-logo{
    width: 80px;
}
.sort-btn{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
}
.sort-btn:hover{
    color: rgb(122, 4, 4);
}
main{
    transform: translateY(90px);
}
.films-list{
    width: 920px;
}
.list-group-item{
    width: 300px;
    margin: 20px 0;
    border: none;
}
.card{
    position: relative;
    height: 500px;
    box-shadow: 5px 5px 5px #909090;
    transition: all 0.3s ease-in-out;
    color: #105000;
    background-color: rgb(156, 156, 153);
}
.card:hover{
    transform: scale(1.03);
}
/* .modal{
    width: 100%;
    height: 340px;
    content: 'referfre';
    color: #fff;
    background-color: rgba(145, 146, 143, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
} */
.card-img-top{
    width: 100%;
    height: 340px;
}
.card-title{
    text-shadow: 5px 3px 2px rgb(167, 167, 167);
}
.card-text{
    word-spacing: 5px;
}
.btn-success{
    display: block;
    margin-left: auto;
}

.select-list{
    width: 450px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #2f535e;
    padding-top: 15px;
}
.select-list li{
    width: 280px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 4px;
}
.select-list li .card{
   width: 100%;
   height: 100%;
   display: flex;
   box-shadow: none;

}

.modals{
    width: 450px;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin: 0 auto;
}
.modals .card{
    width: 100%;
    height: auto;
    padding: 20px;
    /* display: none; */
}
.show{
    display: block;
}
.modals .card .btn{
    width: 60px;
    position: absolute;
    right: 8px;
    top: 8px;
}
.modals .card .card-text{
    color: #000;
}
